<div class="container">
  <h2>All books</h2>

  <% @records.each do |record| %>
    <p><span>Author:</span> <%= "#{record.author.full_name}" %></p>
    <p><span>Book:</span> <%= "#{record.book.title}" %></p>
    <p><span>Price:</span> U$<%= record.book.price %></p>
    <p><span>Published?</span> <%= record.book.published %></p>
    <p><span>Quantity:</span> <%= record.book.quantity %></p>
    <p class="btn btn-dark"><%= link_to "Edit Book", edit_book_path(record.book) if policy(record.book).edit? %></p>
    <p class="btn btn-dark"><%= link_to "Edit Author", edit_author_path(record.author) if policy(record.author).edit? %></p>
    <hr>
  <% end %>
</div>
